<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .center {
            text-align: center;
        }

        .margin {
            margin: 20px;
        }
    </style>
</head>
<body style="background-color:#eee">
<h1 class="display-3 center margin">Orders List</h1>
<hr>
<div class="container">
    <a th:href="@{/orders/addForm}" class="btn btn-primary mb-3">
        Create Order
    </a>
    <a class="btn btn-secondary mb-3" th:href="@{/}">
        Back to Main Page
    </a>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Items Count</th>
            <th scope="col">Total Price</th>
            <th scope="col">Total Profit</th>
            <th scope="col">Customer Phone Number</th>
            <th scope="col">Creation Time</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orderList}">
            <td th:text="${order.id}"/>
            <td th:text="${order.itemsCount}"/>
            <td th:text="${order.totalPrice}"/>
            <td th:text="${order.totalProfit}"/>
            <td th:text="${order.customerPhone}"/>
            <td th:text="${order.creationTime}"/>
            <td th:text="${order.description}"/>
            <td>
                <a class="btn btn-danger" style="color: white"  th:href="@{/orders/delete(orderId=${order.id})}"
                   onclick="if (!(confirm('Are you sure you want to delete this Order ?'))) return false"
                >

                    Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>